html {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1;
}

body {
  background-color: bisque;
}

a {
  color: chocolate;
}

h1 {
  color: red;
  font-weight: bold;
  font-size: 2rem;
}

h2 {
  color: orange;
  font-style: italic;
  font-size: 2rem;
  border: 1px lightblue solid;
  padding: 15px;
}

h3 {
  color: cornflowerblue;
  font-weight: bold;
}

.school {
  color: dodgerblue;
  font-style: italic;
}

.name {
  color: coral;
  font-weight: bold;
}

#page_title {
  color: darkseagreen;
  font-weight: bold;
  font-size: 2rem;
  border: 1px lightblue solid;
  padding: 15px;
}
