body {
  background-color: bisque;
}

h1 {
  color: red;
  font-style: bold;
}

h2 {
  color: orange;
  font-style: italic;
}

h3 {
  color: cornflowerblue;
  font-weight: bold;
}

.school {
  color: dodgerblue;
  font-style: italic;
}

.name {
  color: coral;
  font-weight: bold;
}

#page_title {
  color: darkseagreen;
  font-weight: bold;
  font-size: 2rem;
}
